<a href="https://cognitiveclass.ai/">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Importing Data in R</h1>

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

-   Import csv and excel file
-   Access rows and columns from dataset
-   Access R built-in dataset

## Table of Contents

<ul>
<li><a href="#About-the-Dataset">About the Dataset</a></li>
<li><a href="#Reading-CSV-Files">Reading CSV Files</a></li>
<li><a href="#Reading-Excel-Files">Reading Excel Files</a></li>
<li><a href="#Accessing-Rows-and-Columns">Accessing Rows and Columns from dataset</a></li>
<li><a href="#Accessing-Built-in-Datasets-in-R">Accessing Built-in Datasets in R</a></li>
</ul>

<hr>

<a id="ref0"></a>

<h2 align=center>About the Dataset</h2>

**Movies dataset**

Here we have a dataset that includes one row for each movie, with several columns for each movie characteristic:

-   **name** - Name of the movie
-   **year** - Year the movie was released
-   **length_min** - Length of the movie (minutes)
-   **genre** - Genre of the movie
-   **average_rating** - Average rating on [IMDB](http://www.imdb.com?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
-   **cost_millions** - Movie's production cost (millions in USD)
-   **foreign** - Is the movie foreign (1) or domestic (0)?
-   **age_restriction** - Age restriction for the movie
    <br>

<img src = "https://ibm.box.com/shared/static/6kr8sg0n6pc40zd1xn6hjhtvy3k7cmeq.png" width = 90% align="left">

Let's learn how to **import and read data** from two common types of files used to store tabular data (when data is stored in a table or a spreadsheet.)

-   **CSV files** (.csv)
-   **Excel files** (.xls or .xlsx)

To begin, we'll need to **download the data**!

<a id="ref0"></a>

<h2 align=center>Download the Data</h2>

We've made it easy for you to get the data, which we've hosted online. Simply run the code cell below (Shift + Enter) to download the data to your current folder.

In [1]:
# Download datasets

# CSV file
download.file("https://ibm.box.com/shared/static/n5ay5qadfe7e1nnsv5s01oe1x62mq51j.csv", 
              destfile="movies-db.csv")

# XLS file
download.file("https://ibm.box.com/shared/static/nx0ohd9sq0iz3p871zg8ehc1m39ibpx6.xls", 
              destfile="movies-db.xls")

**If you ran the cell above, you have now downloaded the following files to your current folder:**

> movies-db.csv  
> movies-db.xls

<a id="ref1"></a>

<center><h2>Reading CSV Files</h2></center>

#### What are CSV files?

Let's read data from a CSV file. CSV (Comma Separated Values) is one of the most common formats of structured data you will find. These files contain data in a table format, where in each row, columns are separated by a delimiter -- traditionally, a comma (hence comma-separated values).   

Usually, the first line in a CSV file contains the column names for the table itself. CSV files are popular because you do not need a particular program to open it.

#### Reading CSV files in R

In the **`movies-db.csv`** file, the first line of text is the header (names of each of the columns), followed by rows of movie information.

To read CSV files into R, we use the core function **`read.csv`**.  

`read.csv` easy to use. All you need is the filepath to the CSV file. Let's try loading the file using the filepath to the `movies-db.csv` file we downloaded earlier:

In [2]:
# Load the CSV table into the my_data variable.
my_data <- read.csv("movies-db.csv")
my_data

   name                                      year length_min genre
1  Toy Story                                 1995  81        Animation
2  Akira                                     1998 125        Animation
3  The Breakfast Club                        1985  97        Drama
4  The Artist                                2011 100        Romance
5  Modern Times                              1936  87        Comedy
6  Fight Club                                1999 139        Drama
7  City of God                               2002 130        Crime
8  The Untouchables                          1987 119        Drama
9  Star Wars Episode IV                      1977 121        Action
10 American Beauty                           1999 122        Drama
11 Room                                      2015 118        Drama
12 Dr. Strangelove                           1964  94        Comedy
13 The Ring                                  1998  95        Horror
14 Monty Python and the Holy Grail           1975  91        Comedy
15 High School Musical                       2006  98        Comedy
16 Shaun of the Dead                         2004  99        Horror
17 Taxi Driver                               1976 113        Crime
18 The Shawshank Redemption                  1994 142        Crime
19 Interstellar                              2014 169        Adventure
20 Casino                                    1995 178        Biography
21 The Goodfellas                            1990 145        Biography
22 Blue is the Warmest Colour                2013 179        Romance
23 Black Swan                                2010 108        Thriller
24 Back to the Future                        1985 116        Sci-fi
25 The Wave                                  2008 107        Thriller
26 Whiplash                                  2014 106        Drama
27 The Grand Hotel Budapest                  2014 100        Crime
28 Jumanji                                   1995 104        Fantasy
29 The Eternal Sunshine of the Spotless Mind 2004 108        Drama
30 Chicago                                   2002 113        Comedy
   average_rating cost_millions foreign age_restriction
1  8.3             30.0         0        0
2  8.1             10.4         1       14
3  7.9              1.0         0       14
4  8.0             15.0         1       12
5  8.6              1.5         0       10
6  8.9             63.0         0       18
7  8.7              3.3         1       18
8  7.9             25.0         0       14
9  8.7             11.0         0       10
10 8.4             15.0         0       14
11 8.3             13.0         1       14
12 8.5              1.8         1       10
13 7.3              1.2         1       18
14 8.3              0.4         1       18
15 5.2              4.2         0        0
16 8.0              6.1         1       18
17 8.3              1.3         1       14
18 9.3             25.0         0       16
19 8.6            165.0         0       10
20 8.2             50.0         0       18
21 8.7             25.0         0       14
22 7.8              4.5         1       18
23 8.0             13.0         0       16
24 8.5             19.0         0        0
25 7.6              5.5         1       16
26 8.5              3.3         1       12
27 8.1             25.5         0       14
28 6.9             65.0         0       12
29 8.3             20.0         0       14
30 7.2             45.0         0       12

The data was loaded into the `my_data` variable. But instead of viewing all the data at once, we can use the `head` function to take a look at only the top six rows of our table, like so:

In [3]:
# Print out the first six rows of my_data
head(my_data)

  name               year length_min genre     average_rating cost_millions
1 Toy Story          1995  81        Animation 8.3            30.0
2 Akira              1998 125        Animation 8.1            10.4
3 The Breakfast Club 1985  97        Drama     7.9             1.0
4 The Artist         2011 100        Romance   8.0            15.0
5 Modern Times       1936  87        Comedy    8.6             1.5
6 Fight Club         1999 139        Drama     8.9            63.0
  foreign age_restriction
1 0        0
2 1       14
3 0       14
4 1       12
5 0       10
6 0       18

Additionally, you may want to take a look at the **structure** of your newly created table. R provides us with a function that summarizes an entire table's properties, called `str`. Let's try it out.

In [4]:
# Prints out the structure of your table.
str(my_data)

'data.frame':	30 obs. of  8 variables:
 $ name           : Factor w/ 30 levels "Akira","American Beauty",..: 29 1 21 20 14 10 8 27 18 2 ...
 $ year           : int  1995 1998 1985 2011 1936 1999 2002 1987 1977 1999 ...
 $ length_min     : int  81 125 97 100 87 139 130 119 121 122 ...
 $ genre          : Factor w/ 12 levels "Action","Adventure",..: 3 3 7 10 5 7 6 7 1 7 ...
 $ average_rating : num  8.3 8.1 7.9 8 8.6 8.9 8.7 7.9 8.7 8.4 ...
 $ cost_millions  : num  30 10.4 1 15 1.5 63 3.3 25 11 15 ...
 $ foreign        : int  0 1 0 1 0 0 1 0 0 0 ...
 $ age_restriction: int  0 14 14 12 10 18 18 14 10 14 ...

When we loaded the file with the `read.csv` function, we had to only pass it one parameter -- the **path** to our desired file.

<hr>

**Coding Exercise:** in the code cell below, get the summary of my_data data frame

In [5]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
summary(my_data)

```

</details>

<hr>

<a id="ref2"></a>

<center><h2>Reading Excel Files</h2></center>

Reading XLS (Excel Spreadsheet) files is similar to reading CSV files, but there's one catch -- R does not have a native function to read them. However, thankfully, R has an extremely large repository of user-created functions, called _CRAN_. From there, we can download a library package to make us able to read XLS files.

To download a package, we use the `install.packages` function (may take minutes because it is a big library). Once installed, you do not need to install that same library ever again, unless, of course, you uninstall it.

Whenever you are going to use a library that is not native to R, you have to load it into the R environment after you install it. In other words, you need to install once only, but to use it, you must load it into R for every new session. To do so, use the `library` function, which loads up everything we can use in that library into R.

In [6]:
# Load the "readxl" library into the R environment.
library(readxl)

Now that we have our library and its functions ready, we can move on to actually reading the file. In `readxl`, there is a function called `read_excel`, which does all the work for us. You can use it like this:

In [7]:
# Read data from the XLS file and attribute the table to the my_excel_data variable.
my_excel_data <- read_excel("movies-db.xls")

Since `my_excel_data` is now a dataframe in R, much like the one we created out of the CSV file, all of the native R functions can be applied to it, like `head` and `str`.

In [8]:
# Prints out the structure of your table.
# Tells you how many rows and columns there are, and the names and type of each column.
# This should be the very same as the other table we created, as they are the same dataset.
str(my_excel_data)

tibble [30 × 8] (S3: tbl_df/tbl/data.frame)
 $ name           : chr [1:30] "Toy Story" "Akira" "The Breakfast Club" "The Artist" ...
 $ year           : num [1:30] 1995 1998 1985 2011 1936 ...
 $ length_min     : num [1:30] 81 125 97 100 87 139 130 119 121 122 ...
 $ genre          : chr [1:30] "Animation" "Animation" "Drama" "Romance" ...
 $ average_rating : num [1:30] 8.3 8.1 7.9 8 8.6 8.9 8.7 7.9 8.7 8.4 ...
 $ cost_millions  : num [1:30] 30 10.4 1 15 1.5 63 3.3 25 11 15 ...
 $ foreign        : num [1:30] 0 1 0 1 0 0 1 0 0 0 ...
 $ age_restriction: num [1:30] 0 14 14 12 10 18 18 14 10 14 ...

Much like the `read.csv` function, `read_excel` takes as its main parameter the **path** to the desired file.

<div class="alert alert-success alertsuccess">
<b>[Tip]</b>   
A library is basically a collection of different classes and functions which are used to perform some specific operations. You can install and use libraries to add more functions that are not included on the core R files.
For example, the readxl library adds functions to read data from excel files.
<br><br>
It's important to know that there are many other libraries too which can be used for a variety of things. There are also plenty of other libraries to read Excel files -- readxl is just one of them.
</div>

* * *

<center><h2>Accessing Rows and Columns</h2></center>

Whenever we use functions to read tabular data in R, the default method of structuring this data in the R environment is using Data Frames -- R's primary data structure. Data Frames are extremely versatile, and R presents us many options to manipulate them.

Suppose we want to access the "name" column of our dataset. We can directly reference the column name on our data frame to retrieve this data, like this:

In [9]:
# Retrieve a subset of the data frame consisting of the "name" columns
my_data['name']

   name
1  Toy Story
2  Akira
3  The Breakfast Club
4  The Artist
5  Modern Times
6  Fight Club
7  City of God
8  The Untouchables
9  Star Wars Episode IV
10 American Beauty
11 Room
12 Dr. Strangelove
13 The Ring
14 Monty Python and the Holy Grail
15 High School Musical
16 Shaun of the Dead
17 Taxi Driver
18 The Shawshank Redemption
19 Interstellar
20 Casino
21 The Goodfellas
22 Blue is the Warmest Colour
23 Black Swan
24 Back to the Future
25 The Wave
26 Whiplash
27 The Grand Hotel Budapest
28 Jumanji
29 The Eternal Sunshine of the Spotless Mind
30 Chicago

Another way to do this is by using the `$` notation which at the output will provide a vector:

In [10]:
# Retrieve the data for the "name" column in the data frame.
my_data$name

 [1] Toy Story
 [2] Akira
 [3] The Breakfast Club
 [4] The Artist
 [5] Modern Times
 [6] Fight Club
 [7] City of God
 [8] The Untouchables
 [9] Star Wars Episode IV
[10] American Beauty
[11] Room
[12] Dr. Strangelove
[13] The Ring
[14] Monty Python and the Holy Grail
[15] High School Musical
[16] Shaun of the Dead
[17] Taxi Driver
[18] The Shawshank Redemption
[19] Interstellar
[20] Casino
[21] The Goodfellas
[22] Blue is the Warmest Colour
[23] Black Swan
[24] Back to the Future
[25] The Wave
[26] Whiplash
[27] The Grand Hotel Budapest
[28] Jumanji
[29] The Eternal Sunshine of the Spotless Mind
[30] Chicago
30 Levels: Akira American Beauty Back to the Future ... Whiplash

You can also do the same thing using **double square brackets**, to get a vector of `names` column.

In [11]:
my_data[["name"]]

 [1] Toy Story
 [2] Akira
 [3] The Breakfast Club
 [4] The Artist
 [5] Modern Times
 [6] Fight Club
 [7] City of God
 [8] The Untouchables
 [9] Star Wars Episode IV
[10] American Beauty
[11] Room
[12] Dr. Strangelove
[13] The Ring
[14] Monty Python and the Holy Grail
[15] High School Musical
[16] Shaun of the Dead
[17] Taxi Driver
[18] The Shawshank Redemption
[19] Interstellar
[20] Casino
[21] The Goodfellas
[22] Blue is the Warmest Colour
[23] Black Swan
[24] Back to the Future
[25] The Wave
[26] Whiplash
[27] The Grand Hotel Budapest
[28] Jumanji
[29] The Eternal Sunshine of the Spotless Mind
[30] Chicago
30 Levels: Akira American Beauty Back to the Future ... Whiplash

Similarly, any particular row of the dataset can also be accessed. For example, to get the first row of the dataset with all column values, we can use:

In [12]:
# Retrieve the first row of the data frame.
my_data[1,]

  name      year length_min genre     average_rating cost_millions foreign
1 Toy Story 1995 81         Animation 8.3            30            0
  age_restriction
1 0

The first value before the comma represents the **row** of the dataset and the second value (which is blank in the above example) represents the **column** of the dataset to be retrieved. By setting the first number as 1 we say we want data from row 1. By leaving the column blank we say we want all the columns in that row.

We can specify more than one column or row by using **`c`**, the **concatenate** function. By using `c` to concatenate a list of elements, we tell R that we want these observations out of the data frame. Let's try it out.

In [13]:
# Retrieve the first row of the data frame, but only the "name" and "length_min" columns.
my_data[1, c("name","length_min")]

  name      length_min
1 Toy Story 81

* * *

<a id="ref4"></a>

<center><h2>Accessing Built-in Datasets in R</h2></center>

R provides various built-in datasets for users to utilize for different purposes. To know which datasets are available, R provides a simple function -- `data` -- that returns all of the present datasets' names with a small description beside them. The ones in the `datasets` package are all inbuilt.

In [14]:
# Displays a list of the inbuilt datasets. Opens in a new "window".
data()

Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Girth, Height and Volume for Black Cherry Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

As you can see, there are many different datasets already inbuilt in the R environment. Having to go through each of them to take a look at their structure and try to find out what they represent might be very tiring. Thankfully, R has documentation present for each inbuilt dataset. You can take a look at that by using the `help` function.

For example, if we want to know more about the `women` dataset, we can use the following function:

In [15]:
# Opens up the documentation for the inbuilt "women" dataset.
help(women)

women                 package:datasets                 R Documentation

_A_v_e_r_a_g_e _H_e_i_g_h_t_s _a_n_d _W_e_i_g_h_t_s _f_o_r _A_m_e_r_i_c_a_n _W_o_m_e_n

_D_e_s_c_r_i_p_t_i_o_n:

     This data set gives the average heights and weights for American
     women aged 30-39.

_U_s_a_g_e:

     women

_F_o_r_m_a_t:

     A data frame with 15 observations on 2 variables.

       ‘[,1]’  ‘height’  numeric  Height (in)
       ‘[,2]’  ‘weight’  numeric  Weight (lbs)

_D_e_t_a_i_l_s:

     The data set appears to have been taken from the American Society
     of Actuaries _Build and Blood Pressure Study_ for some (unknown to
     us) earlier year.

     The World Almanac notes: “The figures represent weights in
     ordinary indoor clothing and shoes, and heights with shoes”.

_S_o_u_r_c_e:

     The World Almanac and Book of Facts, 1975.

_R_e_f_e_r_e_n_c_e_s:

     McNeil, D. R. (1977) _Interactive Data Analysis_.  Wiley.

_E_x_a_m_p_l_e_s:

     require(graphics)
     plot(women, xlab = "Height (in)", ylab = "Weight (lb)",
          main = "women data: American women aged 30-39")

Since the datasets listed are inbuilt, you do not need to import or load them to use them. If you reference them by their name, R already has the data frame ready.

In [16]:
women

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

<hr>

**Coding Exercise:** in the code cell below, get the CO2 dataset

In [17]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```R
co2

```

</details>

<hr>

### Scaling R with big data

As you learn more about R, if you are interested in exploring platforms that can help you run analyses at scale, you might want to sign up for a free account on [IBM Watson Studio](http://cocl.us/dsx_rp0101en), which allows you to run analyses in R with two Spark executors for free.

<hr>

### Authors

Hi! It's [Iqbal Singh](https://ca.linkedin.com/in/iqbalsingh15?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-Coursera-23911160&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-Coursera-23911160&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) and [Walter Gomes](https://br.linkedin.com/in/walter-gomes-de-amorim-junior-624726121?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-Coursera-23911160&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-Coursera-23911160&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ), the authors of this notebook. 
I hope you found it easy to learn how to import data into R! Feel free to connect with us if you have any questions.

### Other Contributors

<a href="https://www.linkedin.com/in/yan-luo-96288783/">Yan Luo</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description |
| ----------------- | ------- | ---------- | ------------------ |
| 2021-03-04        | 2.0     | Yan        | Added coding tasks |
|                   |         |            |                    |
|                   |         |            |                    |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>