<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>OpenWeather APIs Calls</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In this lab, you will be collecting real-time current and forecasted weather data for cities using the **OpenWeather API**. It can give you current weather data for any location including over 200,000 cities and 5 day forecasts for free (with limited API usage). You just need to use HTTP requests to call those weather APIs and get the weather data.

You will be given instructions to set up a free OpenWeather API account with an API key for authentication. Then, you will be shown, with code examples, how to get the current weather for a given city. After you are familiar with OpenWeather API, you will be asked to get 5-day forecast data for a list of cities.

## Setup OpenWeather API account

You can create an OpenWeather API account [here](https://home.openweathermap.org/users/sign_up?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01). After your account has been created and verified, you can go to Account -> My API Keys:

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-openweather-apikey.png" width="400" align="center">
</a>

and find your API key here:

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-openweather-apikey-value.png" width="400" align="center">
</a>

Now mark down your generated API key, which will be used to authenticate your HTTP requests to OpenWeather API.

Note that a new API key may take some time to be activated. You may quickly try the following URL using a web browser.

With the `{your_api_key}` URL parameter replaced by your own API key and go to the following URL:

[https://api.openweathermap.org/data/2.5/weather?q=Seoul&appid={your_api_key}](https://api.openweathermap.org/data/2.5/weather?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01&q=Seoul&appid=%7Byour_api_key%7D)

until you see some weather data returned (instead of 401 or other error status), similar to the following JSON result:

```
{"coord":{"lon":126.9778,"lat":37.5683},
"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],
"base":"stations",
"main":{"temp":285.16,"feels_like":284.04,"temp_min":284.15,"temp_max":287.15,"pressure":1020,"humidity":62},
"visibility":10000,
"wind":{"speed":1.03,"deg":220},"clouds":{"all":0},"dt":1617718307,"sys":{"type":1,"id":8105,"country":"KR","sunrise":1617657021,"sunset":1617703103},"timezone":32400,"id":1835848,"name":"Seoul","cod":200}
```

## Coding Practice: Get the current weather data for a city using OpenWeather API

First import `httr` library

In [1]:
import requests
import json
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

The API base URL to get current weather is [https://api.openweathermap.org/data/2.5/weather](https://api.openweathermap.org/data/2.5/weather?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01)

In [ ]:
# URL for Current Weather API
current_weather_url = 'https://api.openweathermap.org/data/2.5/weather?'

Next, let's create a list to hold URL parameters for current weather API

In [ ]:
# need to be replaced by your real API key
your_api_key = "277a72f5a19ff756ca573d7eaf5e56d9"
# Input `q` is the city name
city = "Seoul"
# Input `appid` is your API KEY, 
appid = your_api_key
# Input `units` are preferred units such as Metric or Imperial
units = "&units=metric"
#current_query <- list(q = "Seoul", appid = your_api_key, units="metric")

Now we can make a HTTP request to the current weather API

In [ ]:
#response = requests.get(current_weather_url+"q="+city+"&appid="+appid+units)

In [ ]:
#response = list(requests.get(current_weather_url+"q="+city+"&appid="+appid+units))

In [ ]:
response_json = requests.get(current_weather_url+"q="+city+"&appid="+appid+units).json()

If we check the response type, we can see it is in JSON format

In [ ]:
#response

In [ ]:
response_json

In [ ]:
#type(response)

In [ ]:
type(response_json)

JSON is an open standard file and data interchange format that uses human-readable text to store and transmit data objects. To read the JSON HTTP response, you can use the `content()` function to parse it as a named list in R.

In [ ]:
#response.text

In [ ]:
#data = response.json()

If you use the `class()` function, you can see it is a R `List` object

In [ ]:
#type(data)

Now let's print the JSON result.

In [ ]:
response_json

In [ ]:
response_json.keys()

In [ ]:
response_json.values()

In [ ]:
response_json["coord"]["lon"]

In [ ]:
response_json["weather"][0]["main"]

It contains very detailed weather data about the city of `Seoul`. Feel free to try other cities as well. We need to convert the named list to a data frame so that we can use data frame operations to process the data. Below is a simple example, which you may implement your own way to convert it to a data frame.

In [ ]:
df_current_weather = pd.DataFrame()

In [ ]:
# Create empty lists to store the JSON Data
weather = []
visibility = []
temp = []
temp_min = []
temp_max = []
pressure = []
humidity = []
wind_speed = []
wind_deg = []

Now assign the values in the `json_result` list into different vectors

In [ ]:
# # $weather is also a list with one element, its $main element indicates the weather status such as clear or rain
weather.append(response_json["weather"][0]["main"])
# # Get Visibility
visibility.append(response_json['visibility'])
# # Get current temperature 
temp.append(response_json['main']['temp'])
# # Get min temperature 
temp_min.append(response_json['main']['temp_min'])
# # Get max temperature 
temp_max.append(response_json['main']['temp_max'])
# # Get pressure
pressure.append(response_json['main']['pressure'])
# # Get humidity
humidity.append(response_json['main']['humidity'])
# # Get wind speed
wind_speed.append(response_json['wind']['speed'])
# # Get wind direction
wind_deg.append(response_json['wind']['deg'])

In [ ]:
wind_deg

Combine all vectors as columns of a data frame

In [ ]:
# Write Lists to DataFrame
df_current_weather['weather'] = weather
df_current_weather['visibility'] = visibility
df_current_weather['temperature'] = temp
df_current_weather['temperature_min'] = temp_min
df_current_weather['temperature_max'] = temp_max
df_current_weather['pressure'] = pressure
df_current_weather['humidity'] = humidity
df_current_weather['wind_speed'] = wind_speed
df_current_weather['wind_degree'] = wind_deg

In [ ]:
# Check the generated data frame
print(df_current_weather)

In [ ]:
df_current_weather

# TASK:  Get 5-day weather forecasts for a list of cities using the OpenWeather API

Now you should be familiar with the usage of OpenWeather API. Next, you need to complete a task to get 5-day weather forecasts for a list of cities

_TODO:_ Write a function to return a data frame containing 5-day weather forecasts for a list of cities

## Get forecast data for a given city list

In [ ]:
# URL for Current Weather API
forecast_weather_url = 'http://api.openweathermap.org/data/2.5/forecast?'

Next, let's create a list to hold URL parameters for current weather API

### Seoul

In [ ]:
# need to be replaced by your real API key
your_api_key = "277a72f5a19ff756ca573d7eaf5e56d9"
# Input `q` is the city name
city = "Seoul"
# Input `appid` is your API KEY, 
appid = your_api_key
# Input `units` are preferred units such as Metric or Imperial
units = "&units=metric"
#current_query <- list(q = "Seoul", appid = your_api_key, units="metric")

In [ ]:
forecast_response_json = requests.get(forecast_weather_url+"q="+city+"&appid="+appid).json()

In [ ]:
forecast_response_json

In [ ]:
df_predictions_seoul = pd.DataFrame()

In [ ]:
# Create empty lists to store the JSON Data
prediction_num = 0
list_prediction_num = []
city = []
weather = []
visibility = []
temp = []
temp_min = []
temp_max = []
pressure = []
humidity = []
wind_speed = []
wind_deg = []

In [ ]:
for num_forecasts in forecast_response_json['list']:
    df_predictions_seoul['prediction_num'] = prediction_num
    list_prediction_num.append(prediction_num)
    city.append(forecast_response_json['city']['name'])
    weather.append(forecast_response_json['list'][prediction_num]['weather'][0]['main'])
    visibility.append(forecast_response_json['list'][prediction_num]['visibility'])
    temp.append(forecast_response_json['list'][prediction_num]['main']['temp'])
    temp_min.append(forecast_response_json['list'][prediction_num]['main']['temp_min'])
    temp_max.append(forecast_response_json['list'][prediction_num]['main']['temp_max'])
    pressure.append(forecast_response_json['list'][prediction_num]['main']['pressure'])
    humidity.append(forecast_response_json['list'][prediction_num]['main']['humidity'])
    wind_speed.append(forecast_response_json['list'][prediction_num]['wind']['speed'])
    wind_deg.append(forecast_response_json['list'][prediction_num]['wind']['deg'])
    prediction_num += 1

In [ ]:
# df_predictions['prediction_num'] = prediction_num
# list_prediction_num.append(prediction_num)
# city.append(forecast_response_json['city']['name'])
# weather.append(forecast_response_json['list'][0]['weather'][0]['main'])
# visibility.append(forecast_response_json['list'][0]['visibility'])
# temp.append(forecast_response_json['list'][0]['main']['temp'])
# temp_min.append(forecast_response_json['list'][0]['main']['temp_min'])
# temp_max.append(forecast_response_json['list'][0]['main']['temp_max'])
# pressure.append(forecast_response_json['list'][0]['main']['pressure'])
# humidity.append(forecast_response_json['list'][0]['main']['humidity'])
# wind_speed.append(forecast_response_json['list'][0]['wind']['speed'])
# wind_deg.append(forecast_response_json['list'][0]['wind']['deg'])

In [ ]:
#wind_deg

Complete and call `get_weather_forecast_by_cities` function with a list of cities, and write the data frame into a csv file called `cities_weather_forecast.csv`

In [ ]:
# Write Lists to DataFrame
df_predictions_seoul['prediction_num'] = list_prediction_num
df_predictions_seoul['city'] = city
df_predictions_seoul['weather'] = weather
df_predictions_seoul['visibility'] = visibility
df_predictions_seoul['temperature'] = temp
df_predictions_seoul['temperature_min'] = temp_min
df_predictions_seoul['temperature_max'] = temp_max
df_predictions_seoul['pressure'] = pressure
df_predictions_seoul['humidity'] = humidity
df_predictions_seoul['wind_speed'] = wind_speed
df_predictions_seoul['wind_degree'] = wind_deg

In [ ]:
df_predictions_seoul

In [ ]:
#Save to csv
#df_predictions_seoul.to_csv("seoul.csv", index=False)

### Washington, D.C

In [ ]:
# URL for Current Weather API
forecast_weather_url = 'http://api.openweathermap.org/data/2.5/forecast?'

In [ ]:
# need to be replaced by your real API key
your_api_key = "277a72f5a19ff756ca573d7eaf5e56d9"
# Input `q` is the city name
city = "Washington, D.C."
# Input `appid` is your API KEY, 
appid = your_api_key
# Input `units` are preferred units such as Metric or Imperial
units = "&units=metric"
#current_query <- list(q = "Seoul", appid = your_api_key, units="metric")

In [ ]:
forecast_response_json = requests.get(forecast_weather_url+"q="+city+"&appid="+appid).json()

In [ ]:
forecast_response_json

In [ ]:
df_predictions_wash = pd.DataFrame()

In [ ]:
# Create empty lists to store the JSON Data
prediction_num = 0
list_prediction_num = []
city = []
weather = []
visibility = []
temp = []
temp_min = []
temp_max = []
pressure = []
humidity = []
wind_speed = []
wind_deg = []

In [ ]:
for num_forecasts in forecast_response_json['list']:
    df_predictions_wash['prediction_num'] = prediction_num
    list_prediction_num.append(prediction_num)
    city.append(forecast_response_json['city']['name'])
    weather.append(forecast_response_json['list'][prediction_num]['weather'][0]['main'])
    visibility.append(forecast_response_json['list'][prediction_num]['visibility'])
    temp.append(forecast_response_json['list'][prediction_num]['main']['temp'])
    temp_min.append(forecast_response_json['list'][prediction_num]['main']['temp_min'])
    temp_max.append(forecast_response_json['list'][prediction_num]['main']['temp_max'])
    pressure.append(forecast_response_json['list'][prediction_num]['main']['pressure'])
    humidity.append(forecast_response_json['list'][prediction_num]['main']['humidity'])
    wind_speed.append(forecast_response_json['list'][prediction_num]['wind']['speed'])
    wind_deg.append(forecast_response_json['list'][prediction_num]['wind']['deg'])
    prediction_num += 1

Complete and call `get_weather_forecast_by_cities` function with a list of cities, and write the data frame into a csv file called `cities_weather_forecast.csv`

In [ ]:
# Write Lists to DataFrame
df_predictions_wash['prediction_num'] = list_prediction_num
df_predictions_wash['city'] = city
df_predictions_wash['weather'] = weather
df_predictions_wash['visibility'] = visibility
df_predictions_wash['temperature'] = temp
df_predictions_wash['temperature_min'] = temp_min
df_predictions_wash['temperature_max'] = temp_max
df_predictions_wash['pressure'] = pressure
df_predictions_wash['humidity'] = humidity
df_predictions_wash['wind_speed'] = wind_speed
df_predictions_wash['wind_degree'] = wind_deg

In [ ]:
df_predictions_wash

In [ ]:
#Save to csv
#df_predictions_wash.to_csv("wash.csv", index=False)

### Paris

In [2]:
# URL for Current Weather API
forecast_weather_url = 'http://api.openweathermap.org/data/2.5/forecast?'

In [3]:
# need to be replaced by your real API key
your_api_key = "277a72f5a19ff756ca573d7eaf5e56d9"
# Input `q` is the city name
city = "Paris"
# Input `appid` is your API KEY, 
appid = your_api_key
# Input `units` are preferred units such as Metric or Imperial
units = "&units=metric"
#current_query <- list(q = "Seoul", appid = your_api_key, units="metric")

In [4]:
forecast_response_json = requests.get(forecast_weather_url+"q="+city+"&appid="+appid).json()

In [5]:
forecast_response_json

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1622548800,
   'main': {'temp': 296.54,
    'feels_like': 296.16,
    'temp_min': 296.54,
    'temp_max': 298.21,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1008,
    'humidity': 47,
    'temp_kf': -1.67},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.31, 'deg': 101, 'gust': 4.78},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-01 12:00:00'},
  {'dt': 1622559600,
   'main': {'temp': 298.12,
    'feels_like': 297.9,
    'temp_min': 298.12,
    'temp_max': 299.32,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1007,
    'humidity': 47,
    'temp_kf': -1.2},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 3},
   'wind': {'speed': 4.26, 'deg': 100, 'gust': 3.87},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-01 15:00:00'},
  {'dt': 1622570400,
   'main': {'temp': 296.7,
    'feels_like': 296.73,
    'temp_min': 296.7,
    'temp_max': 296.7,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1006,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 4},
   'wind': {'speed': 4.43, 'deg': 85, 'gust': 5.75},
   'visibility': 10000,
   'pop': 0.14,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-01 18:00:00'},
  {'dt': 1622581200,
   'main': {'temp': 292.07,
    'feels_like': 292.24,
    'temp_min': 292.07,
    'temp_max': 292.07,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1007,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 15},
   'wind': {'speed': 3.36, 'deg': 75, 'gust': 9.34},
   'visibility': 10000,
   'pop': 0.26,
   'rain': {'3h': 0.13},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-01 21:00:00'},
  {'dt': 1622592000,
   'main': {'temp': 289.64,
    'feels_like': 289.72,
    'temp_min': 289.64,
    'temp_max': 289.64,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1007,
    'humidity': 91,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 23},
   'wind': {'speed': 1.99, 'deg': 83, 'gust': 6.76},
   'visibility': 10000,
   'pop': 0.36,
   'rain': {'3h': 0.17},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 00:00:00'},
  {'dt': 1622602800,
   'main': {'temp': 288.18,
    'feels_like': 288.06,
    'temp_min': 288.18,
    'temp_max': 288.18,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1006,
    'humidity': 89,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 65},
   'wind': {'speed': 2.14, 'deg': 85, 'gust': 6.53},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 03:00:00'},
  {'dt': 1622613600,
   'main': {'temp': 289.69,
    'feels_like': 289.44,
    'temp_min': 289.69,
    'temp_max': 289.69,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1007,
    'humidity': 78,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 41},
   'wind': {'speed': 2.05, 'deg': 106, 'gust': 3.68},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 06:00:00'},
  {'dt': 1622624400,
   'main': {'temp': 295.36,
    'feels_like': 295.23,
    'temp_min': 295.36,
    'temp_max': 295.36,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1008,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 56},
   'wind': {'speed': 2.13, 'deg': 166, 'gust': 2.91},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 09:00:00'},
  {'dt': 1622635200,
   'main': {'temp': 297.16,
    'feels_like': 297.21,
    'temp_min': 297.16,
    'temp_max': 297.16,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1009,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 76},
   'wind': {'speed': 3.48, 'deg': 214, 'gust': 4},
   'visibility': 10000,
   'pop': 0.02,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 12:00:00'},
  {'dt': 1622646000,
   'main': {'temp': 297.49,
    'feels_like': 297.57,
    'temp_min': 297.49,
    'temp_max': 297.49,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1009,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 3.36, 'deg': 197, 'gust': 4.72},
   'visibility': 10000,
   'pop': 0.76,
   'rain': {'3h': 0.32},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 15:00:00'},
  {'dt': 1622656800,
   'main': {'temp': 296.08,
    'feels_like': 296.28,
    'temp_min': 296.08,
    'temp_max': 296.08,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1010,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 94},
   'wind': {'speed': 3.06, 'deg': 207, 'gust': 5.45},
   'visibility': 10000,
   'pop': 0.92,
   'rain': {'3h': 1.15},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 18:00:00'},
  {'dt': 1622667600,
   'main': {'temp': 292.54,
    'feels_like': 292.81,
    'temp_min': 292.54,
    'temp_max': 292.54,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.33, 'deg': 203, 'gust': 6.51},
   'visibility': 10000,
   'pop': 0.71,
   'rain': {'3h': 0.26},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 21:00:00'},
  {'dt': 1622678400,
   'main': {'temp': 290.97,
    'feels_like': 291.24,
    'temp_min': 290.97,
    'temp_max': 290.97,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1012,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 98},
   'wind': {'speed': 2.2, 'deg': 214, 'gust': 5.95},
   'visibility': 10000,
   'pop': 0.75,
   'rain': {'3h': 0.3},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 00:00:00'},
  {'dt': 1622689200,
   'main': {'temp': 289.73,
    'feels_like': 289.95,
    'temp_min': 289.73,
    'temp_max': 289.73,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 96,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 47},
   'wind': {'speed': 1.83, 'deg': 237, 'gust': 4.6},
   'visibility': 10000,
   'pop': 0.55,
   'rain': {'3h': 0.73},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 03:00:00'},
  {'dt': 1622700000,
   'main': {'temp': 291.1,
    'feels_like': 291.2,
    'temp_min': 291.1,
    'temp_max': 291.1,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 86,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 35},
   'wind': {'speed': 2.25, 'deg': 262, 'gust': 4.67},
   'visibility': 10000,
   'pop': 0.46,
   'rain': {'3h': 0.11},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 06:00:00'},
  {'dt': 1622710800,
   'main': {'temp': 295.54,
    'feels_like': 295.32,
    'temp_min': 295.54,
    'temp_max': 295.54,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 56},
   'wind': {'speed': 2.54, 'deg': 264, 'gust': 3.62},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 09:00:00'},
  {'dt': 1622721600,
   'main': {'temp': 298.53,
    'feels_like': 298.32,
    'temp_min': 298.53,
    'temp_max': 298.53,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 78},
   'wind': {'speed': 2.8, 'deg': 289, 'gust': 3.19},
   'visibility': 10000,
   'pop': 0.02,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 12:00:00'},
  {'dt': 1622732400,
   'main': {'temp': 299.43,
    'feels_like': 299.43,
    'temp_min': 299.43,
    'temp_max': 299.43,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1016,
    'humidity': 45,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.39, 'deg': 331, 'gust': 1.98},
   'visibility': 10000,
   'pop': 0.08,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 15:00:00'},
  {'dt': 1622743200,
   'main': {'temp': 297.41,
    'feels_like': 297.35,
    'temp_min': 297.41,
    'temp_max': 297.41,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.43, 'deg': 2, 'gust': 3.12},
   'visibility': 10000,
   'pop': 0.2,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 18:00:00'},
  {'dt': 1622754000,
   'main': {'temp': 292.42,
    'feels_like': 292.52,
    'temp_min': 292.42,
    'temp_max': 292.42,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1018,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 62},
   'wind': {'speed': 2.92, 'deg': 24, 'gust': 6.29},
   'visibility': 10000,
   'pop': 0.11,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 21:00:00'},
  {'dt': 1622764800,
   'main': {'temp': 290.05,
    'feels_like': 289.94,
    'temp_min': 290.05,
    'temp_max': 290.05,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1018,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 55},
   'wind': {'speed': 2.5, 'deg': 20, 'gust': 5.75},
   'visibility': 10000,
   'pop': 0.14,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 00:00:00'},
  {'dt': 1622775600,
   'main': {'temp': 288.44,
    'feels_like': 288.17,
    'temp_min': 288.44,
    'temp_max': 288.44,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1018,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 39},
   'wind': {'speed': 2.05, 'deg': 26, 'gust': 4.81},
   'visibility': 10000,
   'pop': 0.17,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 03:00:00'},
  {'dt': 1622786400,
   'main': {'temp': 289.62,
    'feels_like': 289.23,
    'temp_min': 289.62,
    'temp_max': 289.62,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1019,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 50},
   'wind': {'speed': 2.55, 'deg': 13, 'gust': 3.91},
   'visibility': 10000,
   'pop': 0.17,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 06:00:00'},
  {'dt': 1622797200,
   'main': {'temp': 294.57,
    'feels_like': 294.41,
    'temp_min': 294.57,
    'temp_max': 294.57,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1019,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 90},
   'wind': {'speed': 2.61, 'deg': 48, 'gust': 3.42},
   'visibility': 10000,
   'pop': 0.17,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 09:00:00'},
  {'dt': 1622808000,
   'main': {'temp': 298.66,
    'feels_like': 298.65,
    'temp_min': 298.66,
    'temp_max': 298.66,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1018,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 94},
   'wind': {'speed': 3.23, 'deg': 52, 'gust': 3.36},
   'visibility': 10000,
   'pop': 0.19,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 12:00:00'},
  {'dt': 1622818800,
   'main': {'temp': 298.89,
    'feels_like': 298.9,
    'temp_min': 298.89,
    'temp_max': 298.89,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1017,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 83},
   'wind': {'speed': 3.99, 'deg': 59, 'gust': 4.44},
   'visibility': 10000,
   'pop': 0.5,
   'rain': {'3h': 0.31},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 15:00:00'},
  {'dt': 1622829600,
   'main': {'temp': 293.8,
    'feels_like': 294.19,
    'temp_min': 293.8,
    'temp_max': 293.8,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1017,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 91},
   'wind': {'speed': 2.73, 'deg': 37, 'gust': 6.9},
   'visibility': 10000,
   'pop': 0.68,
   'rain': {'3h': 2.07},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 18:00:00'},
  {'dt': 1622840400,
   'main': {'temp': 292.6,
    'feels_like': 292.95,
    'temp_min': 292.6,
    'temp_max': 292.6,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.12, 'deg': 25, 'gust': 5.87},
   'visibility': 10000,
   'pop': 0.36,
   'rain': {'3h': 0.11},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 21:00:00'},
  {'dt': 1622851200,
   'main': {'temp': 290.96,
    'feels_like': 291.28,
    'temp_min': 290.96,
    'temp_max': 290.96,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 95,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 96},
   'wind': {'speed': 3.44, 'deg': 22, 'gust': 8.59},
   'visibility': 10000,
   'pop': 0.31,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-05 00:00:00'},
  {'dt': 1622862000,
   'main': {'temp': 289.68,
    'feels_like': 289.92,
    'temp_min': 289.68,
    'temp_max': 289.68,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 97,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 90},
   'wind': {'speed': 2.84, 'deg': 24, 'gust': 8.33},
   'visibility': 10000,
   'pop': 0.33,
   'rain': {'3h': 0.41},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-05 03:00:00'},
  {'dt': 1622872800,
   'main': {'temp': 290.46,
    'feels_like': 290.7,
    'temp_min': 290.46,
    'temp_max': 290.46,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 94,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 89},
   'wind': {'speed': 3.98, 'deg': 30, 'gust': 9.31},
   'visibility': 10000,
   'pop': 0.34,
   'rain': {'3h': 0.23},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 06:00:00'},
  {'dt': 1622883600,
   'main': {'temp': 296.66,
    'feels_like': 296.84,
    'temp_min': 296.66,
    'temp_max': 296.66,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1013,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 90},
   'wind': {'speed': 3.7, 'deg': 70, 'gust': 5.58},
   'visibility': 10000,
   'pop': 0.09,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 09:00:00'},
  {'dt': 1622894400,
   'main': {'temp': 299.22,
    'feels_like': 299.22,
    'temp_min': 299.22,
    'temp_max': 299.22,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 58,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 95},
   'wind': {'speed': 3.91, 'deg': 85, 'gust': 4.94},
   'visibility': 10000,
   'pop': 0.67,
   'rain': {'3h': 0.41},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 12:00:00'},
  {'dt': 1622905200,
   'main': {'temp': 296.5,
    'feels_like': 296.95,
    'temp_min': 296.5,
    'temp_max': 296.5,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1010,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.26, 'deg': 128, 'gust': 3.49},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 3.47},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 15:00:00'},
  {'dt': 1622916000,
   'main': {'temp': 293.94,
    'feels_like': 294.4,
    'temp_min': 293.94,
    'temp_max': 293.94,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1010,
    'humidity': 89,
    'temp_kf': 0},
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.62, 'deg': 181, 'gust': 4.84},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 4.52},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 18:00:00'},
  {'dt': 1622926800,
   'main': {'temp': 291.19,
    'feels_like': 291.56,
    'temp_min': 291.19,
    'temp_max': 291.19,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1011,
    'humidity': 96,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.78, 'deg': 208, 'gust': 6.99},
   'visibility': 10000,
   'pop': 0.75,
   'rain': {'3h': 1.84},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-05 21:00:00'},
  {'dt': 1622937600,
   'main': {'temp': 290.47,
    'feels_like': 290.76,
    'temp_min': 290.47,
    'temp_max': 290.47,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1010,
    'humidity': 96,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.47, 'deg': 234, 'gust': 6.6},
   'visibility': 10000,
   'pop': 0.72,
   'rain': {'3h': 1.41},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-06 00:00:00'},
  {'dt': 1622948400,
   'main': {'temp': 289.98,
    'feels_like': 290.25,
    'temp_min': 289.98,
    'temp_max': 289.98,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1010,
    'humidity': 97,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},

In [6]:
df_predictions_paris = pd.DataFrame()

In [7]:
# Create empty lists to store the JSON Data
prediction_num = 0
list_prediction_num = []
city = []
weather = []
visibility = []
temp = []
temp_min = []
temp_max = []
pressure = []
humidity = []
wind_speed = []
wind_deg = []

In [8]:
for num_forecasts in forecast_response_json['list']:
    df_predictions_paris['prediction_num'] = prediction_num
    list_prediction_num.append(prediction_num)
    city.append(forecast_response_json['city']['name'])
    weather.append(forecast_response_json['list'][prediction_num]['weather'][0]['main'])
    visibility.append(forecast_response_json['list'][prediction_num]['visibility'])
    temp.append(forecast_response_json['list'][prediction_num]['main']['temp'])
    temp_min.append(forecast_response_json['list'][prediction_num]['main']['temp_min'])
    temp_max.append(forecast_response_json['list'][prediction_num]['main']['temp_max'])
    pressure.append(forecast_response_json['list'][prediction_num]['main']['pressure'])
    humidity.append(forecast_response_json['list'][prediction_num]['main']['humidity'])
    wind_speed.append(forecast_response_json['list'][prediction_num]['wind']['speed'])
    wind_deg.append(forecast_response_json['list'][prediction_num]['wind']['deg'])
    prediction_num += 1

Complete and call `get_weather_forecast_by_cities` function with a list of cities, and write the data frame into a csv file called `cities_weather_forecast.csv`

In [9]:
# Write Lists to DataFrame
df_predictions_paris['prediction_num'] = list_prediction_num
df_predictions_paris['city'] = city
df_predictions_paris['weather'] = weather
df_predictions_paris['visibility'] = visibility
df_predictions_paris['temperature'] = temp
df_predictions_paris['temperature_min'] = temp_min
df_predictions_paris['temperature_max'] = temp_max
df_predictions_paris['pressure'] = pressure
df_predictions_paris['humidity'] = humidity
df_predictions_paris['wind_speed'] = wind_speed
df_predictions_paris['wind_degree'] = wind_deg

In [10]:
df_predictions_paris

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Paris,Clear,10000,296.54,296.54,298.21,1012,47,4.31,101
1,1,Paris,Clear,10000,298.12,298.12,299.32,1011,47,4.26,100
2,2,Paris,Clear,10000,296.70,296.70,296.70,1011,62,4.43,85
3,3,Paris,Rain,10000,292.07,292.07,292.07,1012,85,3.36,75
4,4,Paris,Rain,10000,289.64,289.64,289.64,1012,91,1.99,83
5,5,Paris,Clouds,10000,288.18,288.18,288.18,1011,89,2.14,85
6,6,Paris,Clouds,10000,289.69,289.69,289.69,1012,78,2.05,106
7,7,Paris,Clouds,10000,295.36,295.36,295.36,1013,61,2.13,166
8,8,Paris,Clouds,10000,297.16,297.16,297.16,1013,61,3.48,214
9,9,Paris,Rain,10000,297.49,297.49,297.49,1014,61,3.36,197
10,10,Paris,Rain,10000,296.08,296.08,296.08,1014,71,3.06,207
11,11,Paris,Rain,10000,292.54,292.54,292.54,1016,87,2.33,203
12,12,Paris,Rain,10000,290.97,290.97,290.97,1017,93,2.20,214
13,13,Paris,Rain,10000,289.73,289.73,289.73,1018,96,1.83,237
14,14,Paris,Rain,10000,291.10,291.10,291.10,1020,86,2.25,262
15,15,Paris,Clouds,10000,295.54,295.54,295.54,1021,57,2.54,264
16,16,Paris,Clouds,10000,298.53,298.53,298.53,1021,46,2.80,289
17,17,Paris,Clouds,10000,299.43,299.43,299.43,1020,45,2.39,331
18,18,Paris,Clouds,10000,297.41,297.41,297.41,1021,56,2.43,2
19,19,Paris,Clouds,10000,292.42,292.42,292.42,1023,81,2.92,24
20,20,Paris,Clouds,10000,290.05,290.05,290.05,1023,82,2.50,20
21,21,Paris,Clouds,10000,288.44,288.44,288.44,1023,82,2.05,26
22,22,Paris,Clouds,10000,289.62,289.62,289.62,1023,73,2.55,13
23,23,Paris,Clouds,10000,294.57,294.57,294.57,1023,63,2.61,48
24,24,Paris,Clouds,10000,298.66,298.66,298.66,1022,53,3.23,52
25,25,Paris,Rain,10000,298.89,298.89,298.89,1021,53,3.99,59
26,26,Paris,Rain,10000,293.80,293.80,293.80,1021,87,2.73,37
27,27,Paris,Rain,10000,292.60,292.60,292.60,1022,90,2.12,25
28,28,Paris,Clouds,10000,290.96,290.96,290.96,1021,95,3.44,22
29,29,Paris,Rain,10000,289.68,289.68,289.68,1020,97,2.84,24
30,30,Paris,Rain,10000,290.46,290.46,290.46,1019,94,3.98,30
31,31,Paris,Clouds,10000,296.66,296.66,296.66,1017,68,3.70,70
32,32,Paris,Rain,10000,299.22,299.22,299.22,1016,58,3.91,85
33,33,Paris,Rain,10000,296.50,296.50,296.50,1015,79,2.26,128
34,34,Paris,Rain,10000,293.94,293.94,293.94,1015,89,2.62,181
35,35,Paris,Rain,10000,291.19,291.19,291.19,1015,96,2.78,208
36,36,Paris,Rain,10000,290.47,290.47,290.47,1015,96,2.47,234
37,37,Paris,Rain,10000,289.98,289.98,289.98,1014,97,1.76,209
38,38,Paris,Rain,10000,290.05,290.05,290.05,1015,97,2.02,203
39,39,Paris,Rain,10000,290.32,290.32,290.32,1016,96,2.06,205

In [11]:
#Save to csv
#df_predictions_paris.to_csv("paris.csv", index=False)

### Suzhou

In [12]:
# URL for Current Weather API
forecast_weather_url = 'http://api.openweathermap.org/data/2.5/forecast?'

In [13]:
# need to be replaced by your real API key
your_api_key = "277a72f5a19ff756ca573d7eaf5e56d9"
# Input `q` is the city name
city = "Suzhou"
# Input `appid` is your API KEY, 
appid = your_api_key
# Input `units` are preferred units such as Metric or Imperial
units = "&units=metric"
#current_query <- list(q = "Seoul", appid = your_api_key, units="metric")

In [14]:
forecast_response_json = requests.get(forecast_weather_url+"q="+city+"&appid="+appid).json()

In [15]:
forecast_response_json

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1622548800,
   'main': {'temp': 298.16,
    'feels_like': 298.75,
    'temp_min': 296.05,
    'temp_max': 298.16,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1007,
    'humidity': 78,
    'temp_kf': 2.11},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 7.31, 'deg': 131, 'gust': 13.17},
   'visibility': 10000,
   'pop': 0.13,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-01 12:00:00'},
  {'dt': 1622559600,
   'main': {'temp': 296.49,
    'feels_like': 297.02,
    'temp_min': 295.12,
    'temp_max': 296.49,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1007,
    'humidity': 82,
    'temp_kf': 1.37},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 7.74, 'deg': 129, 'gust': 14.16},
   'visibility': 10000,
   'pop': 0.34,
   'rain': {'3h': 0.2},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-01 15:00:00'},
  {'dt': 1622570400,
   'main': {'temp': 295.05,
    'feels_like': 295.57,
    'temp_min': 295.05,
    'temp_max': 295.05,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 7, 'deg': 125, 'gust': 13.46},
   'visibility': 10000,
   'pop': 0.34,
   'rain': {'3h': 0.4},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-01 18:00:00'},
  {'dt': 1622581200,
   'main': {'temp': 294.86,
    'feels_like': 295.44,
    'temp_min': 294.86,
    'temp_max': 294.86,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1005,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 6.56, 'deg': 123, 'gust': 13.11},
   'visibility': 10000,
   'pop': 0.49,
   'rain': {'3h': 1.04},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-01 21:00:00'},
  {'dt': 1622592000,
   'main': {'temp': 295.34,
    'feels_like': 295.99,
    'temp_min': 295.34,
    'temp_max': 295.34,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1005,
    'humidity': 91,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 5.58, 'deg': 125, 'gust': 11.27},
   'visibility': 10000,
   'pop': 0.61,
   'rain': {'3h': 0.3},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 00:00:00'},
  {'dt': 1622602800,
   'main': {'temp': 297.51,
    'feels_like': 298.22,
    'temp_min': 297.51,
    'temp_max': 297.51,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1005,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.89, 'deg': 140, 'gust': 7.63},
   'visibility': 10000,
   'pop': 0.04,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 03:00:00'},
  {'dt': 1622613600,
   'main': {'temp': 300.39,
    'feels_like': 302.91,
    'temp_min': 300.39,
    'temp_max': 300.39,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1003,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 3.1, 'deg': 138, 'gust': 4.15},
   'visibility': 10000,
   'pop': 0.08,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 06:00:00'},
  {'dt': 1622624400,
   'main': {'temp': 300.94,
    'feels_like': 303.79,
    'temp_min': 300.94,
    'temp_max': 300.94,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 79},
   'wind': {'speed': 3.24, 'deg': 127, 'gust': 3.67},
   'visibility': 10000,
   'pop': 0.13,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 09:00:00'},
  {'dt': 1622635200,
   'main': {'temp': 298.4,
    'feels_like': 299.23,
    'temp_min': 298.4,
    'temp_max': 298.4,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1003,
    'humidity': 86,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 80},
   'wind': {'speed': 3.14, 'deg': 120, 'gust': 5.39},
   'visibility': 10000,
   'pop': 0.13,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 12:00:00'},
  {'dt': 1622646000,
   'main': {'temp': 296.92,
    'feels_like': 297.78,
    'temp_min': 296.92,
    'temp_max': 296.92,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 1003,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 49},
   'wind': {'speed': 2.06, 'deg': 123, 'gust': 3.39},
   'visibility': 10000,
   'pop': 0.2,
   'rain': {'3h': 0.11},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 15:00:00'},
  {'dt': 1622656800,
   'main': {'temp': 296.45,
    'feels_like': 297.32,
    'temp_min': 296.45,
    'temp_max': 296.45,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1001,
    'humidity': 95,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 48},
   'wind': {'speed': 0.99, 'deg': 160, 'gust': 1.19},
   'visibility': 10000,
   'pop': 0.71,
   'rain': {'3h': 1.47},
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-02 18:00:00'},
  {'dt': 1622667600,
   'main': {'temp': 295.92,
    'feels_like': 296.79,
    'temp_min': 295.92,
    'temp_max': 295.92,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1002,
    'humidity': 97,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 35},
   'wind': {'speed': 0.68, 'deg': 307, 'gust': 0.98},
   'visibility': 10000,
   'pop': 0.99,
   'rain': {'3h': 1.82},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-02 21:00:00'},
  {'dt': 1622678400,
   'main': {'temp': 298.74,
    'feels_like': 299.5,
    'temp_min': 298.74,
    'temp_max': 298.74,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 47},
   'wind': {'speed': 3.14, 'deg': 356, 'gust': 4.59},
   'visibility': 10000,
   'pop': 0.98,
   'rain': {'3h': 0.59},
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 00:00:00'},
  {'dt': 1622689200,
   'main': {'temp': 300.97,
    'feels_like': 302.66,
    'temp_min': 300.97,
    'temp_max': 300.97,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 79},
   'wind': {'speed': 4.19, 'deg': 355, 'gust': 5.38},
   'visibility': 10000,
   'pop': 0.31,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 03:00:00'},
  {'dt': 1622700000,
   'main': {'temp': 299.96,
    'feels_like': 301.19,
    'temp_min': 299.96,
    'temp_max': 299.96,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1001,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 89},
   'wind': {'speed': 1.82, 'deg': 326, 'gust': 2.85},
   'visibility': 10000,
   'pop': 0.17,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 06:00:00'},
  {'dt': 1622710800,
   'main': {'temp': 298.53,
    'feels_like': 298.87,
    'temp_min': 298.53,
    'temp_max': 298.53,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.94, 'deg': 353, 'gust': 5.7},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 09:00:00'},
  {'dt': 1622721600,
   'main': {'temp': 297.13,
    'feels_like': 297.46,
    'temp_min': 297.13,
    'temp_max': 297.13,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1004,
    'humidity': 72,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.1, 'deg': 16, 'gust': 1.67},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 12:00:00'},
  {'dt': 1622732400,
   'main': {'temp': 296.52,
    'feels_like': 296.84,
    'temp_min': 296.52,
    'temp_max': 296.52,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 93},
   'wind': {'speed': 1.26, 'deg': 237, 'gust': 1.55},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 15:00:00'},
  {'dt': 1622743200,
   'main': {'temp': 295.66,
    'feels_like': 296.06,
    'temp_min': 295.66,
    'temp_max': 295.66,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 1004,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 94},
   'wind': {'speed': 1.14, 'deg': 359, 'gust': 1.49},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-03 18:00:00'},
  {'dt': 1622754000,
   'main': {'temp': 295.01,
    'feels_like': 295.42,
    'temp_min': 295.01,
    'temp_max': 295.01,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 83,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 1.75, 'deg': 18, 'gust': 2.43},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-03 21:00:00'},
  {'dt': 1622764800,
   'main': {'temp': 296.6,
    'feels_like': 296.99,
    'temp_min': 296.6,
    'temp_max': 296.6,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 96},
   'wind': {'speed': 0.64, 'deg': 114, 'gust': 0.86},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 00:00:00'},
  {'dt': 1622775600,
   'main': {'temp': 299.52,
    'feels_like': 299.52,
    'temp_min': 299.52,
    'temp_max': 299.52,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 64,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.39, 'deg': 254, 'gust': 2.87},
   'visibility': 10000,
   'pop': 0.03,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 03:00:00'},
  {'dt': 1622786400,
   'main': {'temp': 302.7,
    'feels_like': 302.55,
    'temp_min': 302.7,
    'temp_max': 302.7,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 97},
   'wind': {'speed': 2.48, 'deg': 272, 'gust': 3.81},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 06:00:00'},
  {'dt': 1622797200,
   'main': {'temp': 302.63,
    'feels_like': 302.06,
    'temp_min': 302.63,
    'temp_max': 302.63,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1002,
    'humidity': 38,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 96},
   'wind': {'speed': 2.39, 'deg': 265, 'gust': 3.37},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 09:00:00'},
  {'dt': 1622808000,
   'main': {'temp': 299.03,
    'feels_like': 299.03,
    'temp_min': 299.03,
    'temp_max': 299.03,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 1003,
    'humidity': 52,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 96},
   'wind': {'speed': 0.68, 'deg': 359, 'gust': 3.01},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 12:00:00'},
  {'dt': 1622818800,
   'main': {'temp': 296.84,
    'feels_like': 296.96,
    'temp_min': 296.84,
    'temp_max': 296.84,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 1004,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 67},
   'wind': {'speed': 2.74, 'deg': 162, 'gust': 4.35},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 15:00:00'},
  {'dt': 1622829600,
   'main': {'temp': 295.44,
    'feels_like': 295.74,
    'temp_min': 295.44,
    'temp_max': 295.44,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 78},
   'wind': {'speed': 2.81, 'deg': 189, 'gust': 5.13},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-04 18:00:00'},
  {'dt': 1622840400,
   'main': {'temp': 294.46,
    'feels_like': 294.68,
    'temp_min': 294.46,
    'temp_max': 294.46,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 78,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 95},
   'wind': {'speed': 2.78, 'deg': 182, 'gust': 4.75},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-04 21:00:00'},
  {'dt': 1622851200,
   'main': {'temp': 298.7,
    'feels_like': 298.8,
    'temp_min': 298.7,
    'temp_max': 298.7,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1003,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 76},
   'wind': {'speed': 3.46, 'deg': 196, 'gust': 5.19},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 00:00:00'},
  {'dt': 1622862000,
   'main': {'temp': 303.21,
    'feels_like': 302.58,
    'temp_min': 303.21,
    'temp_max': 303.21,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 83},
   'wind': {'speed': 4.03, 'deg': 213, 'gust': 4.63},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 03:00:00'},
  {'dt': 1622872800,
   'main': {'temp': 305.2,
    'feels_like': 303.91,
    'temp_min': 305.2,
    'temp_max': 305.2,
    'pressure': 1002,
    'sea_level': 1002,
    'grnd_level': 1001,
    'humidity': 29,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 42},
   'wind': {'speed': 3.63, 'deg': 225, 'gust': 4.15},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 06:00:00'},
  {'dt': 1622883600,
   'main': {'temp': 304.81,
    'feels_like': 303.81,
    'temp_min': 304.81,
    'temp_max': 304.81,
    'pressure': 1001,
    'sea_level': 1001,
    'grnd_level': 1000,
    'humidity': 32,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 34},
   'wind': {'speed': 3.74, 'deg': 189, 'gust': 4.61},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 09:00:00'},
  {'dt': 1622894400,
   'main': {'temp': 299.14,
    'feels_like': 299.14,
    'temp_min': 299.14,
    'temp_max': 299.14,
    'pressure': 1002,
    'sea_level': 1002,
    'grnd_level': 1001,
    'humidity': 54,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 55},
   'wind': {'speed': 4.34, 'deg': 158, 'gust': 8.46},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-05 12:00:00'},
  {'dt': 1622905200,
   'main': {'temp': 297.33,
    'feels_like': 297.5,
    'temp_min': 297.33,
    'temp_max': 297.33,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1001,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.9, 'deg': 158, 'gust': 11.26},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2021-06-05 15:00:00'},
  {'dt': 1622916000,
   'main': {'temp': 296.53,
    'feels_like': 296.7,
    'temp_min': 296.53,
    'temp_max': 296.53,
    'pressure': 1002,
    'sea_level': 1002,
    'grnd_level': 1000,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 98},
   'wind': {'speed': 3.55, 'deg': 166, 'gust': 9.04},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 18:00:00'},
  {'dt': 1622926800,
   'main': {'temp': 295.43,
    'feels_like': 295.62,
    'temp_min': 295.43,
    'temp_max': 295.43,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1001,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 29},
   'wind': {'speed': 2.65, 'deg': 153, 'gust': 4.48},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-05 21:00:00'},
  {'dt': 1622937600,
   'main': {'temp': 300.04,
    'feels_like': 300.89,
    'temp_min': 300.04,
    'temp_max': 300.04,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 15},
   'wind': {'speed': 3.29, 'deg': 172, 'gust': 4.78},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-06 00:00:00'},
  {'dt': 1622948400,
   'main': {'temp': 305.23,
    'feels_like': 305.03,
    'temp_min': 305.23,
    'temp_max': 305.23,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 1002,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.3, 'deg': 183, 'gust': 5.13},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2021-06-06 03:00:00'},
  {'dt': 1622959200,

In [16]:
df_predictions_suzhou = pd.DataFrame()

In [17]:
# Create empty lists to store the JSON Data
prediction_num = 0
list_prediction_num = []
city = []
weather = []
visibility = []
temp = []
temp_min = []
temp_max = []
pressure = []
humidity = []
wind_speed = []
wind_deg = []

In [18]:
for num_forecasts in forecast_response_json['list']:
    df_predictions_suzhou['prediction_num'] = prediction_num
    list_prediction_num.append(prediction_num)
    city.append(forecast_response_json['city']['name'])
    weather.append(forecast_response_json['list'][prediction_num]['weather'][0]['main'])
    visibility.append(forecast_response_json['list'][prediction_num]['visibility'])
    temp.append(forecast_response_json['list'][prediction_num]['main']['temp'])
    temp_min.append(forecast_response_json['list'][prediction_num]['main']['temp_min'])
    temp_max.append(forecast_response_json['list'][prediction_num]['main']['temp_max'])
    pressure.append(forecast_response_json['list'][prediction_num]['main']['pressure'])
    humidity.append(forecast_response_json['list'][prediction_num]['main']['humidity'])
    wind_speed.append(forecast_response_json['list'][prediction_num]['wind']['speed'])
    wind_deg.append(forecast_response_json['list'][prediction_num]['wind']['deg'])
    prediction_num += 1

Complete and call `get_weather_forecast_by_cities` function with a list of cities, and write the data frame into a csv file called `cities_weather_forecast.csv`

In [19]:
# Write Lists to DataFrame
df_predictions_suzhou['prediction_num'] = list_prediction_num
df_predictions_suzhou['city'] = city
df_predictions_suzhou['weather'] = weather
df_predictions_suzhou['visibility'] = visibility
df_predictions_suzhou['temperature'] = temp
df_predictions_suzhou['temperature_min'] = temp_min
df_predictions_suzhou['temperature_max'] = temp_max
df_predictions_suzhou['pressure'] = pressure
df_predictions_suzhou['humidity'] = humidity
df_predictions_suzhou['wind_speed'] = wind_speed
df_predictions_suzhou['wind_degree'] = wind_deg

In [20]:
df_predictions_suzhou

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Suzhou,Clouds,10000,298.16,296.05,298.16,1007,78,7.31,131
1,1,Suzhou,Rain,10000,296.49,295.12,296.49,1008,82,7.74,129
2,2,Suzhou,Rain,10000,295.05,295.05,295.05,1007,87,7.00,125
3,3,Suzhou,Rain,10000,294.86,294.86,294.86,1007,90,6.56,123
4,4,Suzhou,Rain,10000,295.34,295.34,295.34,1007,91,5.58,125
5,5,Suzhou,Clouds,10000,297.51,297.51,297.51,1007,85,4.89,140
6,6,Suzhou,Clouds,10000,300.39,300.39,300.39,1004,75,3.10,138
7,7,Suzhou,Clouds,10000,300.94,300.94,300.94,1004,73,3.24,127
8,8,Suzhou,Clouds,10000,298.40,298.40,298.40,1004,86,3.14,120
9,9,Suzhou,Rain,10000,296.92,296.92,296.92,1005,93,2.06,123
10,10,Suzhou,Rain,10000,296.45,296.45,296.45,1003,95,0.99,160
11,11,Suzhou,Rain,10000,295.92,295.92,295.92,1003,97,0.68,307
12,12,Suzhou,Rain,10000,298.74,298.74,298.74,1004,82,3.14,356
13,13,Suzhou,Clouds,10000,300.97,300.97,300.97,1004,63,4.19,355
14,14,Suzhou,Clouds,10000,299.96,299.96,299.96,1003,63,1.82,326
15,15,Suzhou,Clouds,10000,298.53,298.53,298.53,1004,67,3.94,353
16,16,Suzhou,Clouds,10000,297.13,297.13,297.13,1006,72,1.10,16
17,17,Suzhou,Clouds,10000,296.52,296.52,296.52,1006,74,1.26,237
18,18,Suzhou,Clouds,10000,295.66,295.66,295.66,1005,80,1.14,359
19,19,Suzhou,Clouds,10000,295.01,295.01,295.01,1006,83,1.75,18
20,20,Suzhou,Clouds,10000,296.60,296.60,296.60,1006,76,0.64,114
21,21,Suzhou,Clouds,10000,299.52,299.52,299.52,1006,64,2.39,254
22,22,Suzhou,Clouds,10000,302.70,302.70,302.70,1004,42,2.48,272
23,23,Suzhou,Clouds,10000,302.63,302.63,302.63,1003,38,2.39,265
24,24,Suzhou,Clouds,10000,299.03,299.03,299.03,1005,52,0.68,359
25,25,Suzhou,Clouds,10000,296.84,296.84,296.84,1005,65,2.74,162
26,26,Suzhou,Clouds,10000,295.44,295.44,295.44,1004,77,2.81,189
27,27,Suzhou,Clouds,10000,294.46,294.46,294.46,1004,78,2.78,182
28,28,Suzhou,Clouds,10000,298.70,298.70,298.70,1004,57,3.46,196
29,29,Suzhou,Clouds,10000,303.21,303.21,303.21,1004,37,4.03,213
30,30,Suzhou,Clouds,10000,305.20,305.20,305.20,1002,29,3.63,225
31,31,Suzhou,Clouds,10000,304.81,304.81,304.81,1001,32,3.74,189
32,32,Suzhou,Clouds,10000,299.14,299.14,299.14,1002,54,4.34,158
33,33,Suzhou,Clouds,10000,297.33,297.33,297.33,1003,65,4.90,158
34,34,Suzhou,Clouds,10000,296.53,296.53,296.53,1002,68,3.55,166
35,35,Suzhou,Clouds,10000,295.43,295.43,295.43,1003,73,2.65,153
36,36,Suzhou,Clouds,10000,300.04,300.04,300.04,1004,57,3.29,172
37,37,Suzhou,Clear,10000,305.23,305.23,305.23,1004,37,4.30,183
38,38,Suzhou,Clear,10000,307.39,307.39,307.39,1002,27,4.55,177
39,39,Suzhou,Clear,10000,305.35,305.35,305.35,1003,30,5.04,159

In [21]:
#Save to csv
#df_predictions_suzhou.to_csv("suzhou.csv", index=False)

In [22]:
# cities <- c("Seoul", "Washington, D.C.", "Paris", "Suzhou")
# cities_weather_df <- get_weather_forecast_by_cities(cities)

### Combine all 4 files and save As

In [ ]:
# Write cities_weather_df to `cities_weather_forecast.csv`
#write.csv(cities_weather_df, "cities_weather_forecast.csv", row.names=FALSE)

In [23]:
seoul = pd.read_csv("seoul.csv")
wash = pd.read_csv("wash.csv")
paris = pd.read_csv("paris.csv")
suzhou = pd.read_csv("suzhou.csv")

In [25]:
seoul.head()

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Seoul,Clouds,10000,296.03,295.48,296.03,1014,61,2.02,131
1,1,Seoul,Clouds,10000,295.20,293.55,295.20,1014,59,0.72,39
2,2,Seoul,Clouds,10000,293.40,292.08,293.40,1014,63,0.36,18
3,3,Seoul,Clouds,10000,290.76,290.76,290.76,1014,68,1.12,88
4,4,Seoul,Clouds,10000,290.34,290.34,290.34,1015,70,1.46,66

In [26]:
wash.head()

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Washington,Clouds,10000,290.90,288.90,290.90,1019,56,2.15,296
1,1,Washington,Clouds,10000,290.01,288.22,290.01,1019,60,1.77,295
2,2,Washington,Clouds,10000,293.29,293.29,294.48,1018,50,1.13,352
3,3,Washington,Clouds,10000,301.60,301.60,301.60,1015,29,1.69,89
4,4,Washington,Clear,10000,305.14,305.14,305.14,1012,24,2.90,99

In [27]:
paris.head()

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Paris,Clear,10000,296.54,296.54,298.21,1012,47,4.31,101
1,1,Paris,Clear,10000,298.12,298.12,299.32,1011,47,4.26,100
2,2,Paris,Clear,10000,296.70,296.70,296.70,1011,62,4.43,85
3,3,Paris,Rain,10000,292.07,292.07,292.07,1012,85,3.36,75
4,4,Paris,Rain,10000,289.64,289.64,289.64,1012,91,1.99,83

In [28]:
suzhou.head()

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Suzhou,Clouds,10000,298.16,296.05,298.16,1007,78,7.31,131
1,1,Suzhou,Rain,10000,296.49,295.12,296.49,1008,82,7.74,129
2,2,Suzhou,Rain,10000,295.05,295.05,295.05,1007,87,7.00,125
3,3,Suzhou,Rain,10000,294.86,294.86,294.86,1007,90,6.56,123
4,4,Suzhou,Rain,10000,295.34,295.34,295.34,1007,91,5.58,125

In [31]:
cities_weather_df = pd.concat([seoul,wash,paris,suzhou], axis=0)

In [32]:
cities_weather_df

,prediction_num,city,weather,visibility,temperature,temperature_min,temperature_max,pressure,humidity,wind_speed,wind_degree
0,0,Seoul,Clouds,10000,296.03,295.48,296.03,1014,61,2.02,131
1,1,Seoul,Clouds,10000,295.20,293.55,295.20,1014,59,0.72,39
2,2,Seoul,Clouds,10000,293.40,292.08,293.40,1014,63,0.36,18
3,3,Seoul,Clouds,10000,290.76,290.76,290.76,1014,68,1.12,88
4,4,Seoul,Clouds,10000,290.34,290.34,290.34,1015,70,1.46,66
5,5,Seoul,Clouds,10000,296.28,296.28,296.28,1014,48,1.02,88
6,6,Seoul,Clouds,10000,301.19,301.19,301.19,1013,32,2.37,201
7,7,Seoul,Clouds,10000,302.45,302.45,302.45,1011,30,3.90,233
8,8,Seoul,Clouds,10000,299.66,299.66,299.66,1010,36,4.32,254
9,9,Seoul,Clouds,10000,295.92,295.92,295.92,1012,49,2.12,278
10,10,Seoul,Clouds,10000,294.95,294.95,294.95,1011,55,1.50,225
11,11,Seoul,Clouds,10000,293.15,293.15,293.15,1010,67,1.26,269
12,12,Seoul,Clouds,10000,292.45,292.45,292.45,1008,73,0.41,148
13,13,Seoul,Rain,10000,292.41,292.41,292.41,1007,77,0.97,234
14,14,Seoul,Rain,6620,290.68,290.68,290.68,1006,92,2.18,255
15,15,Seoul,Rain,9948,290.74,290.74,290.74,1004,91,0.70,325
16,16,Seoul,Rain,10000,290.71,290.71,290.71,1003,91,1.58,308
17,17,Seoul,Clouds,10000,289.69,289.69,289.69,1003,95,1.35,289
18,18,Seoul,Rain,10000,289.21,289.21,289.21,1003,85,3.80,320
19,19,Seoul,Clouds,10000,287.75,287.75,287.75,1002,88,1.18,308
20,20,Seoul,Clouds,10000,287.86,287.86,287.86,1003,83,0.62,187
21,21,Seoul,Clouds,10000,292.70,292.70,292.70,1002,58,1.57,211
22,22,Seoul,Clear,10000,296.43,296.43,296.43,1002,35,5.36,232
23,23,Seoul,Clear,10000,296.62,296.62,296.62,1001,30,6.88,237
24,24,Seoul,Clear,10000,294.48,294.48,294.48,1000,38,6.93,225
25,25,Seoul,Clear,10000,290.60,290.60,290.60,1001,66,5.00,240
26,26,Seoul,Clear,10000,289.34,289.34,289.34,1002,79,2.00,221
27,27,Seoul,Clear,10000,288.31,288.31,288.31,1001,86,1.65,192
28,28,Seoul,Clear,10000,288.03,288.03,288.03,1001,88,1.69,159
29,29,Seoul,Clear,10000,292.98,292.98,292.98,1002,56,2.93,200
30,30,Seoul,Clear,10000,297.67,297.67,297.67,1001,35,5.24,229
31,31,Seoul,Clear,10000,298.83,298.83,298.83,1000,31,5.68,235
32,32,Seoul,Clear,10000,296.69,296.69,296.69,1000,40,4.37,237
33,33,Seoul,Clouds,10000,293.77,293.77,293.77,1001,61,1.80,224
34,34,Seoul,Clouds,10000,291.97,291.97,291.97,1002,83,2.16,204
35,35,Seoul,Rain,10000,291.56,291.56,291.56,1002,84,2.95,194
36,36,Seoul,Rain,10000,290.79,290.79,290.79,1003,89,2.16,174
37,37,Seoul,Rain,10000,291.77,291.77,291.77,1004,84,2.28,181
38,38,Seoul,Clouds,10000,296.91,296.91,296.91,1005,58,3.27,207
39,39,Seoul,Clouds,10000,298.92,298.92,298.92,1004,47,4.30,242
0,0,Washington,Clouds,10000,290.90,288.90,290.90,1019,56,2.15,296
1,1,Washington,Clouds,10000,290.01,288.22,290.01,1019,60,1.77,295
2,2,Washington,Clouds,10000,293.29,293.29,294.48,1018,50,1.13,352
3,3,Washington,Clouds,10000,301.60,301.60,301.60,1015,29,1.69,89
4,4,Washington,Clear,10000,305.14,305.14,305.14,1012,24,2.90,99
5,5,Washington,Clear,10000,306.10,306.10,306.10,1010,23,3.37,104
6,6,Washington,Clear,10000,299.71,299.71,299.71,1010,42,0.70,65
7,7,Washington,Clear,10000,293.11,293.11,293.11,1011,55,2.43,283
8,8,Washington,Clear,10000,291.22,291.22,291.22,1011,60,2.10,293
9,9,Washington,Clear,10000,290.13,290.13,290.13,1011,54,2.06,294
10,10,Washington,Clear,10000,297.52,297.52,297.52,1011,35,1.42,350
11,11,Washington,Clear,10000,304.43,304.43,304.43,1009,20,1.70,77
12,12,Washington,Clear,10000,308.42,308.42,308.42,1006,15,1.62,117
13,13,Washington,Clear,10000,306.93,306.93,306.93,1005,17,3.64,340
14,14,Washington,Clear,10000,299.49,299.49,299.49,1006,35,2.71,325
15,15,Washington,Clear,10000,291.53,291.53,291.53,1009,58,3.01,285
16,16,Washington,Clear,10000,289.25,289.25,289.25,1009,67,2.79,286
17,17,Washington,Clear,10000,287.94,287.94,287.94,1009,66,2.65,289
18,18,Washington,Clear,10000,296.28,296.28,296.28,1009,37,2.24,318
19,19,Washington,Clear,10000,302.95,302.95,302.95,1007,18,2.58,354
20,20,Washington,Clear,10000,306.55,306.55,306.55,1006,16,1.80,329
21,21,Washington,Clear,10000,304.42,304.42,304.42,1004,20,3.48,340
22,22,Washington,Clear,10000,297.04,297.04,297.04,1006,42,2.91,327
23,23,Washington,Clouds,10000,289.60,289.60,289.60,1009,69,3.04,282
24,24,Washington,Clouds,10000,287.31,287.31,287.31,1009,79,2.68,282
25,25,Washington,Clouds,10000,285.73,285.73,285.73,1009,85,2.61,283
26,26,Washington,Clear,10000,292.89,292.89,292.89,1009,50,1.95,305
27,27,Washington,Clear,10000,299.76,299.76,299.76,1006,18,2.06,338
28,28,Washington,Clouds,10000,301.46,301.46,301.46,1005,10,2.67,277
29,29,Washington,Clouds,10000,298.06,298.06,298.06,1005,14,3.71,284
30,30,Washington,Clear,10000,291.07,291.07,291.07,1007,35,3.09,319
31,31,Washington,Clear,10000,283.66,283.66,283.66,1009,57,2.96,289
32,32,Washington,Clear,10000,281.23,281.23,281.23,1010,74,2.49,290
33,33,Washington,Clear,10000,279.99,279.99,279.99,1012,81,2.24,268
34,34,Washington,Rain,10000,284.37,284.37,284.37,1013,68,1.92,292
35,35,Washington,Rain,10000,288.96,288.96,288.96,1011,43,4.02,278
36,36,Washington,Clear,10000,291.35,291.35,291.35,1010,32,4.90,277
37,37,Washington,Clear,10000,290.10,290.10,290.10,1010,35,5.48,269
38,38,Washington,Clear,10000,286.05,286.05,286.05,1011,46,3.82,260
39,39,Washington,Clear,10000,278.54,278.54,278.54,1015,77,2.44,281
0,0,Paris,Clear,10000,296.54,296.54,298.21,1012,47,4.31,101
1,1,Paris,Clear,10000,298.12,298.12,299.32,1011,47,4.26,100
2,2,Paris,Clear,10000,296.70,296.70,296.70,1011,62,4.43,85
3,3,Paris,Rain,10000,292.07,292.07,292.07,1012,85,3.36,75
4,4,Paris,Rain,10000,289.64,289.64,289.64,1012,91,1.99,83
5,5,Paris,Clouds,10000,288.18,288.18,288.18,1011,89,2.14,85
6,6,Paris,Clouds,10000,289.69,289.69,289.69,1012,78,2.05,106
7,7,Paris,Clouds,10000,295.36,295.36,295.36,1013,61,2.13,166
8,8,Paris,Clouds,10000,297.16,297.16,297.16,1013,61,3.48,214
9,9,Paris,Rain,10000,297.49,297.49,297.49,1014,61,3.36,197
10,10,Paris,Rain,10000,296.08,296.08,296.08,1014,71,3.06,207
11,11,Paris,Rain,10000,292.54,292.54,292.54,1016,87,2.33,203
12,12,Paris,Rain,10000,290.97,290.97,290.97,1017,93,2.20,214
13,13,Paris,Rain,10000,289.73,289.73,289.73,1018,96,1.83,237
14,14,Paris,Rain,10000,291.10,291.10,291.10,1020,86,2.25,262
15,15,Paris,Clouds,10000,295.54,295.54,295.54,1021,57,2.54,264
16,16,Paris,Clouds,10000,298.53,298.53,298.53,1021,46,2.80,289
17,17,Paris,Clouds,10000,299.43,299.43,299.43,1020,45,2.39,331
18,18,Paris,Clouds,10000,297.41,297.41,297.41,1021,56,2.43,2
19,19,Paris,Clouds,10000,292.42,292.42,292.42,1023,81,2.92,24
20,20,Paris,Clouds,10000,290.05,290.05,290.05,1023,82,2.50,20
21,21,Paris,Clouds,10000,288.44,288.44,288.44,1023,82,2.05,26
22,22,Paris,Clouds,10000,289.62,289.62,289.62,1023,73,2.55,13
23,23,Paris,Clouds,10000,294.57,294.57,294.57,1023,63,2.61,48
24,24,Paris,Clouds,10000,298.66,298.66,298.66,1022,53,3.23,52
25,25,Paris,Rain,10000,298.89,298.89,298.89,1021,53,3.99,59
26,26,Paris,Rain,10000,293.80,293.80,293.80,1021,87,2.73,37
27,27,Paris,Rain,10000,292.60,292.60,292.60,1022,90,2.12,25
28,28,Paris,Clouds,10000,290.96,290.96,290.96,1021,95,3.44,22
29,29,Paris,Rain,10000,289.68,289.68,289.68,1020,97,2.84,24
30,30,Paris,Rain,10000,290.46,290.46,290.46,1019,94,3.98,30
31,31,Paris,Clouds,10000,296.66,296.66,296.66,1017,68,3.70,70
32,32,Paris,Rain,10000,299.22,299.22,299.22,1016,58,3.91,85
33,33,Paris,Rain,10000,296.50,296.50,296.50,1015,79,2.26,128
34,34,Paris,Rain,10000,293.94,293.94,293.94,1015,89,2.62,181
35,35,Paris,Rain,10000,291.19,291.19,291.19,1015,96,2.78,208
36,36,Paris,Rain,10000,290.47,290.47,290.47,1015,96,2.47,234
37,37,Paris,Rain,10000,289.98,289.98,289.98,1014,97,1.76,209
38,38,Paris,Rain,10000,290.05,290.05,290.05,1015,97,2.02,203
39,39,Paris,Rain,10000,290.32,290.32,290.32,1016,96,2.06,205
0,0,Suzhou,Clouds,10000,298.16,296.05,298.16,1007,78,7.31,131
1,1,Suzhou,Rain,10000,296.49,295.12,296.49,1008,82,7.74,129
2,2,Suzhou,Rain,10000,295.05,295.05,295.05,1007,87,7.00,125
3,3,Suzhou,Rain,10000,294.86,294.86,294.86,1007,90,6.56,123
4,4,Suzhou,Rain,10000,295.34,295.34,295.34,1007,91,5.58,125
5,5,Suzhou,Clouds,10000,297.51,297.51,297.51,1007,85,4.89,140
6,6,Suzhou,Clouds,10000,300.39,300.39,300.39,1004,75,3.10,138
7,7,Suzhou,Clouds,10000,300.94,300.94,300.94,1004,73,3.24,127
8,8,Suzhou,Clouds,10000,298.40,298.40,298.40,1004,86,3.14,120
9,9,Suzhou,Rain,10000,296.92,296.92,296.92,1005,93,2.06,123
10,10,Suzhou,Rain,10000,296.45,296.45,296.45,1003,95,0.99,160
11,11,Suzhou,Rain,10000,295.92,295.92,295.92,1003,97,0.68,307
12,12,Suzhou,Rain,10000,298.74,298.74,298.74,1004,82,3.14,356
13,13,Suzhou,Clouds,10000,300.97,300.97,300.97,1004,63,4.19,355
14,14,Suzhou,Clouds,10000,299.96,299.96,299.96,1003,63,1.82,326
15,15,Suzhou,Clouds,10000,298.53,298.53,298.53,1004,67,3.94,353
16,16,Suzhou,Clouds,10000,297.13,297.13,297.13,1006,72,1.10,16
17,17,Suzhou,Clouds,10000,296.52,296.52,296.52,1006,74,1.26,237
18,18,Suzhou,Clouds,10000,295.66,295.66,295.66,1005,80,1.14,359
19,19,Suzhou,Clouds,10000,295.01,295.01,295.01,1006,83,1.75,18
20,20,Suzhou,Clouds,10000,296.60,296.60,296.60,1006,76,0.64,114
21,21,Suzhou,Clouds,10000,299.52,299.52,299.52,1006,64,2.39,254
22,22,Suzhou,Clouds,10000,302.70,302.70,302.70,1004,42,2.48,272
23,23,Suzhou,Clouds,10000,302.63,302.63,302.63,1003,38,2.39,265
24,24,Suzhou,Clouds,10000,299.03,299.03,299.03,1005,52,0.68,359
25,25,Suzhou,Clouds,10000,296.84,296.84,296.84,1005,65,2.74,162
26,26,Suzhou,Clouds,10000,295.44,295.44,295.44,1004,77,2.81,189
27,27,Suzhou,Clouds,10000,294.46,294.46,294.46,1004,78,2.78,182
28,28,Suzhou,Clouds,10000,298.70,298.70,298.70,1004,57,3.46,196
29,29,Suzhou,Clouds,10000,303.21,303.21,303.21,1004,37,4.03,213
30,30,Suzhou,Clouds,10000,305.20,305.20,305.20,1002,29,3.63,225
31,31,Suzhou,Clouds,10000,304.81,304.81,304.81,1001,32,3.74,189
32,32,Suzhou,Clouds,10000,299.14,299.14,299.14,1002,54,4.34,158
33,33,Suzhou,Clouds,10000,297.33,297.33,297.33,1003,65,4.90,158
34,34,Suzhou,Clouds,10000,296.53,296.53,296.53,1002,68,3.55,166
35,35,Suzhou,Clouds,10000,295.43,295.43,295.43,1003,73,2.65,153
36,36,Suzhou,Clouds,10000,300.04,300.04,300.04,1004,57,3.29,172
37,37,Suzhou,Clear,10000,305.23,305.23,305.23,1004,37,4.30,183
38,38,Suzhou,Clear,10000,307.39,307.39,307.39,1002,27,4.55,177
39,39,Suzhou,Clear,10000,305.35,305.35,305.35,1003,30,5.04,159

In [33]:
cities_weather_df.to_csv("cities_weather_forecast.csv", index=False)

For more details about HTTP requests with `httr`, please refer to the previous HTTP request notebook here: 

[HTTP request in R](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M4_Working_With_Data/lab2_jupyter_http-request.ipynb)

## TASK: Download datasets as csv files from cloud storage

The last task of this lab is straightforward: download some aggregated datasets from cloud storage

In [ ]:
# # Download several datasets

# # Download some general city information such as name and locations
# url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
# # download the file
# download.file(url, destfile = "raw_worldcities.csv")

# # Download a specific hourly Seoul bike sharing demand dataset
# url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
# # download the file
# download.file(url, destfile = "raw_seoul_bike_sharing.csv")

## Next Step

Now you should collect all datasets required for this project, all in csv format. Feel free to explore them preliminarily now. However, they are the raw datasets and have to be processed for further data visualization or data analysis.

In the next module, you will improve their quality by performing data wrangling tasks.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01" target="_blank">Yan Luo</a>

### Other Contributors

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-04-05        | 0.1     | Yan        | Initial version created |
|                   |         |            |                         |
|                   |         |            |                         |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>